.Cell {
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 3px;
}

.Field {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#Direction {
    display: none;
}

#Timer {
    position: absolute;
    left: 400px;
    font-size: 20px;
}